IMPORT OF LIBRARIES

In [11]:
import os
import pandas as pd

OPEN DE CSV THAT WE HAVE TO USE

In [12]:
person = pd.read_csv("Data/Person.Person.csv")
person_phone = pd.read_csv("Data/Person.PersonPhone.csv")
phone_number_type = pd.read_csv("Data/Person.PhoneNumberType.csv")
email_address = pd.read_csv("Data/Person.EmailAddress.csv")
password = pd.read_csv("Data/Person.Password.csv")
business_entity_contact = pd.read_csv("Data/Person.BusinessEntityContact.csv")
address_type = pd.read_csv("Data/Person.AddressType.csv")
business_entity_adress = pd.read_csv("Data/Person.BusinessEntityAdress.csv")
business_entity = pd.read_csv("Data/Person.BusinessEntity.csv")
business_entity_contact = pd.read_csv("Data/Person.BusinessEntityContact.csv")
contact_type = pd.read_csv("Data/Person.ContactType.csv")
state_province=pd.read_csv("Data/Person.StateProvince.csv")
state_province_country_region=pd.read_csv("Data/Person.vStateProvinceCountryRegion.csv")
country_region= pd.read_csv("Data/Person.CountryRegion.csv")
address = pd.read_csv("Data/Person.Address.csv")

CLEAN THE COLUMNS THAT CAN MAKE US ERRORRS

In [13]:
dataframes = [state_province,address,country_region,state_province_country_region,business_entity_adress,address_type,phone_number_type,email_address,password,person_phone,business_entity,contact_type,business_entity_contact]
columnas_a_eliminar = ['ModifiedDate', 'rowguid','Día','Mes','Año','Trimestre']


for df in dataframes:
    df.drop(columns=columnas_a_eliminar, errors='ignore', inplace=True)

MAKE THE FIRST DATA FRAME

In [14]:
primerpaso = pd.merge(address_type, business_entity_adress, on='AddressTypeID', how='left')
primerpaso
segundopaso= pd.merge(primerpaso,address, on='AddressID',how='left')
segundopaso
tercerpaso=pd.merge(state_province,segundopaso, on='StateProvinceID',how='left')
tercerpaso
cuartopaso= pd.merge(tercerpaso,state_province_country_region, on='CountryRegionCode', how='left')
cuartopaso
final_address= pd.merge(country_region,cuartopaso,on='CountryRegionCode',how='left')
final_address

,CountryRegionCode,Name_x,CountryRegionName_x,IsOnlyStateProvinceFlag_x,StateProvinceCode_x,StateProvinceID,StateProvinceName_x,TerritoryID,AddressTypeID,Name_y,...,AddressLine2,City,PostalCode,SpatialLocation,CountryRegionName_y,IsOnlyStateProvinceFlag_y,StateProvinceCode_y,Recuento de StateProvinceID,StateProvinceName_y,Recuento de TerritoryID
0,AD,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AF,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AG,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AI,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700513,YE,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700514,YT,Mayotte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700515,ZA,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700516,ZM,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700517,ZW,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

CHECK IF IS NORMAL THE CUANTITY OF NaN THAT IS IS THE FIRST DATA FRAME

In [15]:
num_nan_segunda_columna = final_address.iloc[:, 2].isnull().sum()
print("El número de valores NaN en la segunda columna de quintopaso es:", num_nan_segunda_columna)

El número de valores NaN en la segunda columna de quintopaso es: 226

SECOND DATA FRAME

In [16]:
primerunion=pd.merge(phone_number_type,person_phone, on='PhoneNumberTypeID', how='left')
primerunion
segundaunion=pd.merge(business_entity,primerunion, on='BusinessEntityID',how='left')
segundaunion
terceraunion=pd.merge(email_address,person,on='BusinessEntityID',how='left')
terceraunion
cuartaunion=pd.merge(terceraunion,password,on='BusinessEntityID',how='left')
cuartaunion
final_person=pd.merge(segundaunion,cuartaunion,on='BusinessEntityID',how='left')
final_person

,BusinessEntityID,Name,PhoneNumberTypeID,PhoneNumber,EmailAddress,EmailAddressID,AdditionalContactInfo,Demographics,Suma de EmailPromotion,FirstName,...,Trimestre,Mes,Día,NameStyle,PersonType,rowguid,Suffix,Title,PasswordHash,PasswordSalt
0,1,Cell,1.0,697-555-0142,ken0@adventure-works.com,1.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",0.0,Ken,...,Trim. 1,enero,7.0,False,EM,92C4279F-1207-48A3-8448-4636514EB7E2,NaN,NaN,pbFwXWE99vobT6g+vPWFy93NtUU/orrIWafF01hccfM=,bE3XiWw=
1,2,Work,3.0,819-555-0175,terri0@adventure-works.com,2.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",1.0,Terri,...,Trim. 1,enero,24.0,False,EM,D8763459-8AA8-47CC-AFF7-C9079AF79033,NaN,NaN,bawRVNrZQYQ05qF05Gz6VLilnviZmrqBReTTAGAudm0=,EjJaC3U=
2,3,Cell,1.0,212-555-0187,roberto0@adventure-works.com,3.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",0.0,Roberto,...,Trim. 4,noviembre,4.0,False,EM,E1A2555E-0828-434B-A33B-6F38136A37DE,NaN,NaN,8BUXrZfDqO1IyHCWOYzYmqN1IhTUn3CJMpdx/UCQ3iY=,wbPZqMw=
3,4,Cell,1.0,612-555-0100,rob0@adventure-works.com,4.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",0.0,Rob,...,Trim. 4,noviembre,28.0,False,EM,F2D7CE06-38B3-4357-805B-F4B6B71C01FF,NaN,NaN,SjLXpiarHSlz+6AG+H+4QpB/IPRzras/+9q/5Wr7tf8=,PwSunQU=
4,5,Cell,1.0,849-555-0139,gail0@adventure-works.com,5.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",0.0,Gail,...,Trim. 4,diciembre,30.0,False,EM,F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,NaN,Ms.,8FYdAiY6gWuBsgjCFdg0UibtsqOcWHf9TyaHIP7+paA=,qYhZRiM=
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20772,20773,Cell,1.0,1 (11) 500 555-0171,crystal18@adventure-works.com,19968.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",0.0,Crystal,...,Trim. 1,marzo,19.0,False,IN,D0A499A2-C258-43E9-AB06-F61543A71134,NaN,NaN,4gSNTcSKHtKW1k9te824egho2RixU5Gc+LRDNYyMDx4=,qh4YKRQ=
20773,20774,Cell,1.0,910-555-0166,isabella91@adventure-works.com,19969.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",2.0,Isabella,...,Trim. 3,julio,29.0,False,IN,A4F7F248-82F3-43D5-B5A3-8BD1CB610254,NaN,NaN,gOO6OEoRpCe9TiQ4+1fX1qXIzavOQ0Ccvl1JHS/Pseg=,s+EMJTA=
20774,20775,Home,2.0,813-555-0148,crystal19@adventure-works.com,19970.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",0.0,Crystal,...,Trim. 1,marzo,12.0,False,IN,CD0B82D0-3409-4497-A65F-A68E75EE26CB,NaN,NaN,r5nZct0C8mWL6KM0DE4pM8fO/0nmUYAtya8ref2efg8=,axcde7k=
20775,20776,Home,2.0,1 (11) 500 555-0171,crystal20@adventure-works.com,19971.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",1.0,Crystal,...,Trim. 1,enero,14.0,False,IN,386E35E8-97B3-43E4-9B5F-9594C2FF5CEA,NaN,NaN,5eVmZbWYJXVwZkBkvpxlhA3/bKMLRReav9CgRP4NRbU=,nJbmm88=
20776,20777,Home,2.0,1 (11) 500 555-0126,crystal21@adventure-works.com,19972.0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",0.0,Crystal,...,Trim. 4,octubre,16.0,False,IN,1773C8F3-2CC7-4826-A7F5-30D3F36543CD,NaN,NaN,ZEgQH9qZIPiLgyBHYw/dD1FJQNpdQyIAa+BFfKX5/jg=,7iy/umc=

TERCER CONJUNTO DE DATOS

In [17]:
final_contact=pd.merge(contact_type,business_entity_contact,on='ContactTypeID',how='left')
final_contact

     ContactTypeID                   Name  BusinessEntityID  PersonID
0                1     Accounting Manager               NaN       NaN
1                2  Assistant Sales Agent            1510.0    1509.0
2                2  Assistant Sales Agent            1518.0    1517.0
3                2  Assistant Sales Agent            1522.0    1521.0
4                2  Assistant Sales Agent            1528.0    1527.0
..             ...                    ...               ...       ...
917             19          Sales Manager            1692.0    2059.0
918             19          Sales Manager            1694.0    1693.0
919             19          Sales Manager            1696.0    1695.0
920             19          Sales Manager            1698.0    2058.0
921             20   Sales Representative               NaN       NaN

[922 rows x 4 columns]

ANOTHER TRY OF JOIN

In [18]:
prueba=pd.merge(final_person,final_contact,on='BusinessEntityID',how='left')
prueba

In [ ]:
num_nan_segunda_columna = prueba.iloc[:, 10].isnull().sum()
print("El número de valores NaN en la segunda columna de quintopaso es:", num_nan_segunda_columna)

El número de valores NaN en la segunda columna de quintopaso es: 909

DOWNLOAD DE FINAL DATA

In [ ]:
import os

# Crear la carpeta si no existe
carpeta = "Datos-version1"
if not os.path.exists(carpeta):
    os.makedirs(carpeta)

# Rutas de los archivos CSV
ruta_final_contact = os.path.join(carpeta, 'final_contact.csv')
ruta_final_person = os.path.join(carpeta, 'final_person.csv')
ruta_final_address = os.path.join(carpeta, 'final_address.csv')
ruta_prueba = os.path.join(carpeta, 'prueba.csv')

# Guardar los archivos CSV en la carpeta especificada
final_contact.to_csv(ruta_final_contact, index=False)
final_person.to_csv(ruta_final_person, index=False)
final_address.to_csv(ruta_final_address, index=False)
prueba.to_csv(ruta_prueba, index=False)