In [ ]:
import os
import pandas as pd

carpeta = '/content/'

dataframes = []

for archivo in os.listdir(carpeta):
    if archivo.endswith('.csv'):
        ruta_completa = os.path.join(carpeta, archivo)
        df = pd.read_csv(ruta_completa)
        dataframes.append(df)

In [ ]:
for i in range(len(dataframes)):
  print(dataframes[i])

    ContactTypeID                             Name         ModifiedDate
0               1               Accounting Manager  2008-04-30 00:00:00
1               2            Assistant Sales Agent  2008-04-30 00:00:00
2               3   Assistant Sales Representative  2008-04-30 00:00:00
3               4      Coordinator Foreign Markets  2008-04-30 00:00:00
4               5             Export Administrator  2008-04-30 00:00:00
5               6  International Marketing Manager  2008-04-30 00:00:00
6               7              Marketing Assistant  2008-04-30 00:00:00
7               8                Marketing Manager  2008-04-30 00:00:00
8               9         Marketing Representative  2008-04-30 00:00:00
9              10              Order Administrator  2008-04-30 00:00:00
10             11                            Owner  2008-04-30 00:00:00
11             12        Owner/Marketing Assistant  2008-04-30 00:00:00
12             13                  Product Manager  2008-04-30 00:00:00
13             14                 Purchasing Agent  2008-04-30 00:00:00
14             15               Purchasing Manager  2008-04-30 00:00:00
15             16  Regional Account Representative  2008-04-30 00:00:00
16             17                      Sales Agent  2008-04-30 00:00:00
17             18                  Sales Associate  2008-04-30 00:00:00
18             19                    Sales Manager  2008-04-30 00:00:00
19             20             Sales Representative  2008-04-30 00:00:00
    BusinessEntityID  EmailAddressID                    EmailAddress  \
0                  1               1        ken0@adventure-works.com
1                  2               2      terri0@adventure-works.com
2                  3               3    roberto0@adventure-works.com
3                  4               4        rob0@adventure-works.com
4                  5               5       gail0@adventure-works.com
..               ...             ...                             ...
95                96              96  elizabeth0@adventure-works.com
96                97              97     mandar0@adventure-works.com
97                98              98     sameer0@adventure-works.com
98                99              99       nuan0@adventure-works.com
99               100             100      lolan0@adventure-works.com

                                 rowguid         ModifiedDate
0   8A1901E4-671B-431A-871C-EADB2942E9EE  2009-01-07 00:00:00
1   B5FF9EFD-72A2-4F87-830B-F338FDD4D162  2008-01-24 00:00:00
2   C8A51084-1C03-4C58-A8B3-55854AE7C499  2007-11-04 00:00:00
3   17703ED1-0031-4B4A-AFD2-77487A556B3B  2007-11-28 00:00:00
4   E76D2EA3-08E5-409C-BBE2-5DD1CDF89A3B  2007-12-30 00:00:00
..                                   ...                  ...
95  DE385467-19F1-41B1-9165-E05E462FBC80  2009-02-23 00:00:00
96  1A9E785F-EBCF-454D-B249-2A88F858A2D0  2009-02-03 00:00:00
97  DFCC751C-451C-4498-819B-A4692527B0A2  2009-02-04 00:00:00
98  12A30695-A604-4312-B65E-19A67FB3FB73  2008-12-30 00:00:00
99  4EBF0B6C-141E-4725-B6E7-04D4FB305B80  2009-01-05 00:00:00

[100 rows x 5 columns]
   PhoneNumberTypeID  Name         ModifiedDate
0                  1  Cell  2017-12-13 13:19:22
1                  2  Home  2017-12-13 13:19:22
2                  3  Work  2017-12-13 13:19:22
    StateProvinceID StateProvinceCode CountryRegionCode  \
0                 1               AB                 CA
1                 2               AK                 US
2                 3               AL                 US
3                 4               AR                 US
4                 5               AS                 AS
..              ...               ...               ...
95               96               10                 FR
96               97               11                 FR
97               98               12                 FR
98               99               13                 FR
99              100               14                 FR

    IsOnlyStateProvinceFlag              Name  TerritoryID  \
0                         0           Alberta            6
1                         0            Alaska            1
2                         0           Alabama            5
3                         0          Arkansas            3
4                         1    American Samoa            1
..                      ...               ...          ...
95                        0              Aube            7
96                        0              Aude            7
97                        0           Aveyron            7
98                        0  Bouches du Rh√¥ne            7
99                        0          Calvados            7

                                 rowguid         ModifiedDate
0   298C2880-AB1C-4982-A5AD-A36EB4BA0D34  2014-02-08 10:17:21
1   5B7B8462-A888-4E0B-A3E1-7278F8AF107E  2014-02-08 10:17:21
2   41B328BE-21AE-45D0-841D-6F8DD71CE626  2014-02-08 10:17:21
3   54656A80-06F2-4C70-BA10-247179FC246E  2014-02-08 10:17:21
4   255D15E1-9F6E-4CF8-9E5F-6B3858AD9B6A  2014-02-08 10:17:21
..                                   ...                  ...
95  519D0FB2-FFBF-4B4B-9112-58FEA32D84E6  2008-04-30 00:00:00
96  B451CE92-B0F6-47FF-8769-050050432C9C  2008-04-30 00:00:00
97  79CD2767-A7D9-4BD6-BEEC-D2CDF4DA0AF1  2008-04-30 00:00:00
98  32519BD3-40C2-4976-8579-0F1A7D2D3DE4  2008-04-30 00:00:00
99  2BD91456-C8AE-4A5D-9270-A4A446ECCACB  2008-04-30 00:00:00

[100 rows x 8 columns]
    BusinessEntityID                                  PasswordHash  \
0                  1  pbFwXWE99vobT6g+vPWFy93NtUU/orrIWafF01hccfM=
1                  2  bawRVNrZQYQ05qF05Gz6VLilnviZmrqBReTTAGAudm0=
2                  3  8BUXrZfDqO1IyHCWOYzYmqN1IhTUn3CJMpdx/UCQ3iY=
3                  4  SjLXpiarHSlz+6AG+H+4QpB/IPRzras/+9q/5Wr7tf8=
4                  5  8FYdAiY6gWuBsgjCFdg0UibtsqOcWHf9TyaHIP7+paA=
..               ...                                           ...
95                96  dQMZUekBH73hOqaYRbQZCc7ObVmZd1WtZtZ9bgIrp/M=
96                97  D+tvr4PUKMFvJNDT1HCP91i7f7eDjQsref8BKYQQSrc=
97                98  jWDkJrRsj+dj11G5aaOko0I7WwKTkKnn/w3W0Q0GdMc=
98                99  iL0+3+AHga7LYIPNFgtGjM00TODip/2pw0Jhc58eADc=
99               100  sjRcCEbmF7NuIGeUn2CoRodBlM7zNXJ1r9LcQrdcAZA=

   PasswordSalt                               rowguid         ModifiedDate
0      bE3XiWw=  329EACBE-C883-4F48-B8B6-17AA4627EFFF  2009-01-07 00:00:00
1      EjJaC3U=  A4C82398-7466-4FE6-B9EE-CEC34D116F68  2008-01-24 00:00:00
2      wbPZqMw=  AC3F4536-BB2E-41C5-B70D-454BE460C1BD  2007-11-04 00:00:00
3      PwSunQU=  B3FA4C24-2E96-477C-A923-0CB0F6FA5C80  2007-11-28 00:00:00
4      qYhZRiM=  C4D13BCF-0209-44C7-AC67-6F817FDD7F16  2007-12-30 00:00:00
..          ...                                   ...                  ...
95     pCHkzo0=  F0594F6E-86CA-49A9-82F8-5CCA6CFAF2BF  2009-02-23 00:00:00
96     gkiqvog=  29FA4C94-FCEE-41E8-808B-62CF45BEB5C7  2009-02-03 00:00:00
97     63z7wMU=  67F70A03-7C4D-4B62-9DF8-054F863AFFAB  2009-02-04 00:00:00
98     HrL7JoE=  536BBC7C-A36C-4BC7-A727-9F8EAF88F5F0  2008-12-30 00:00:00
99     BIfsGWE=  3C475672-04DE-4AA4-8B01-28F1C1F112A3  2009-01-05 00:00:00

[100 rows x 5 columns]
    BusinessEntityID  AddressID  AddressTypeID  \
0                  1        249              2
1                  2        293              2
2                  3        224              2
3                  4      11387              2
4                  5        190              2
..               ...        ...            ...
95                96      32513              2
96                97         76              2
97                98         83              2
98                99        160              2
99               100        133              2

                                 rowguid         ModifiedDate
0   3A5D0A00-6739-4DFE-A8F7-844CD9DEE3DF  2014-09-12 11:15:06
1   84AE7057-EDF4-4C51-8B8D-3AEAEFBFB4A1  2014-09-12 11:15:06
2   3C915B31-7C05-4A05-9859-0DF663677240  2014-09-12 11:15:06
3   3DC70CC4-3AE8-424F-8B1F-481C5478E941  2014-09-12 11:15:06
4   C0ED2F68-937B-4594-9459-581AC53C98E3  2014-09-12 11:15:06
..                                   ...                  ...
95  039F5361-37D3-435A-AB44-EA798B20B44B  2014-09-12 11:15:06
96  52245CF5-7E0A-4B06-9D5D-9EF74ED00FD8  2014-09-12 11:15:06
97  785D1634-4F68-49E1-BBD2-8BA4558C94D2  2014-09-12 11:15:06
98  A37CD76C-85E3-49F1-8E9F-285475CC38D0  2014-09-12 11:15:06
99  0926E48D-AF12-4E4A-9A07-34E8541DB3D9  2014-09-12 11:15:06

[100 rows x 5 columns]
    AddressID           AddressLine1 AddressLine2     City  StateProvinceID  \
0           1          1970 Napa Ct.          NaN  Bothell               79
1           2     9833 Mt. Dias Blv.          NaN  Bothell               79
2           3   7484 Roundtree Drive          NaN  Bothell               79
3           4       9539 Glenside Dr          NaN  Bothell               79
4           5          1226 Shoe St.          NaN  Bothell               79
..        ...                    ...          ...      ...              ...
95         96  5375 Clearland Circle          NaN  Seattle               79
96         97      2639 Anchor Court          NaN  Seattle               79
97         98      502 Alexander Pl.          NaN  Seattle               79
98         99   5802 Ampersand Drive          NaN  Seattle               79
99        100        5125 Cotton Ct.          NaN  Seattle               79

   PostalCode                               SpatialLocation  \
0       98011  E6100000010CAE8BFC28BCE4474067A89189898A5EC0
1       98011  E6100000010CD6FA851AE6D74740BC262A0A03905EC0
2       98011  E6100000010C18E304C4ADE14740DA930C7893915EC0
3       98011  E6100000010C813A0D5F9FDE474011A5C28A7C955EC0
4       98011  E6100000010C61C64D8ABBD94740C460EA3FD8855EC0
..        ...                                           ...
95      98104  E6100000010CA8482EA87FD147408346388A2A9C5EC0
96      98104  E6100000010CDAFBDD9327D5474067D6CE07828C5EC0
97      98104  E6100000010C52B340978BD44740703AEFB51E955EC0
98      98104  E6100000010C63447B90C3D54740789E0F64BB9D5EC0
99      98104  E6100000010CEB8C188D5FD647406492C68FAF965EC0

                                 rowguid         ModifiedDate
0   9AADCB0D-36CF-483F-84D8-585C2D4EC6E9  2007-12-04 00:00:00
1   32A54B9E-E034-4BFB-B573-A71CDE60D8C0  2008-11-30 00:00:00
2   4C506923-6D1B-452C-A07C-BAA6F5B142A4  2013-03-07 00:00:00
3   E5946C78-4BCC-477F-9FA1-CC09DE16A880  2009-02-03 00:00:00
4   FBAFF937-4A97-4AF0-81FD-B849900E9BB0  2008-12-19 00:00:00
..                                   ...                  ...
95  EF57EA2B-15FD-4887-90DC-77EC79AE67E9  2009-01-04 00:00:00
96  9C3D0B0D-E3B3-4696-B0EB-A90356CB8ACC  2014-02-07 00:00:00
97  B3D67582-A180-42AD-BE0D-E8FAC4080354  2009-01-25 00:00:00
98  137CC1BA-089A-4E2D-91BF-7480802A7E00  2008-12-31 00:00:00
99  AB6BCC20-67D3-4A26-BA02-CDC917C2DEE4  2009-02-03 00:00:00

[100 rows x 9 columns]
   CountryRegionCode                  Name         ModifiedDate
0                 AD               Andorra  2008-04-30 00:00:00
1                 AE  United Arab Emirates  2008-04-30 00:00:00
2                 AF           Afghanistan  2008-04-30 00:00:00
3                 AG   Antigua and Barbuda  2008-04-30 00:00:00
4                 AI              Anguilla  2008-04-30 00:00:00
..               ...                   ...                  ...
95                HU               Hungary  2008-04-30 00:00:00
96                ID             Indonesia  2008-04-30 00:00:00
97                IE               Ireland  2008-04-30 00:00:00
98                IL                Israel  2008-04-30 00:00:00
99                IN                 India  2008-04-30 00:00:00

[100 rows x 3 columns]
    BusinessEntityID   PhoneNumber  PhoneNumberTypeID         ModifiedDate
0                  1  697-555-0142                  1  2009-01-07 00:00:00
1                  2  819-555-0175                  3  2008-01-24 00:00:00
2                  3  212-555-0187                  1  2007-11-04 00:00:00
3                  4  612-555-0100                  1  2007-11-28 00:00:00
4                  5  849-555-0139                  1  2007-12-30 00:00:00
..               ...           ...                ...                  ...
95                96  318-555-0137                  1  2009-02-23 00:00:00
96                97  140-555-0132                  3  2009-02-03 00:00:00
97                98  990-555-0172                  1  2009-02-04 00:00:00
98                99  913-555-0184                  1  2008-12-30 00:00:00
99               100  582-555-0178                  1  2009-01-05 00:00:00

[100 rows x 4 columns]
    BusinessEntityID  PersonID  ContactTypeID  \
0                292       291             11
1                294       293             11
2                296       295             11
3                298       297             11
4                300       299             11
..               ...       ...            ...
95               482       481             14
96               484       483             15
97               486       485             15
98               488       487             15
99               490       489             11

                                 rowguid         ModifiedDate
0   7D4D2DBC-4A44-48F5-911D-A63ABAFD5120  2017-12-13 13:21:02
1   3EA25B65-9579-4260-977D-D6F00D7D20EE  2017-12-13 13:21:02
2   DADAC1FF-3351-4827-9AE0-95004885C193  2017-12-13 13:21:02
3   B924F26F-6446-45D1-A92B-6F418374F075  2017-12-13 13:21:02
4   5BA4E7BE-8D29-46A2-B68D-67B1615B124A  2017-12-13 13:21:02
..                                   ...                  ...
95  147D1ABC-259D-4D61-BD36-D8B9A3DD2C41  2017-12-13 13:21:08
96  7696EB76-B2BD-477E-B3D9-24820DC05F51  2017-12-13 13:21:08
97  F98BB138-4A7C-4EDA-81B6-5883F8802BD7  2017-12-13 13:21:08
98  AD449824-295E-4206-BD1E-BD2B1C40BBEA  2017-12-13 13:21:08
99  70A6A65B-7CDC-4543-8FAA-2E85611BFD6D  2017-12-13 13:21:08

[100 rows x 5 columns]
    BusinessEntityID PersonType  NameStyle Title  FirstName MiddleName  \
0                  1         EM          0   NaN        Ken          J
1                  2         EM          0   NaN      Terri        Lee
2                  3         EM          0   NaN    Roberto        NaN
3                  4         EM          0   NaN        Rob        NaN
4                  5         EM          0   Ms.       Gail          A
..               ...        ...        ...   ...        ...        ...
95                96         EM          0   NaN  Elizabeth          I
96                97         EM          0   NaN     Mandar          H
97                98         EM          0   NaN     Sameer          A
98                99         EM          0   NaN       Nuan        NaN
99               100         EM          0   NaN      Lolan          B

      LastName  Suffix  EmailPromotion  AdditionalContactInfo  \
0      S√°nchez     NaN               0                    NaN
1        Duffy     NaN               1                    NaN
2   Tamburello     NaN               0                    NaN
3      Walters     NaN               0                    NaN
4     Erickson     NaN               0                    NaN
..         ...     ...             ...                    ...
95      Keyser     NaN               0                    NaN
96      Samant     NaN               0                    NaN
97      Tejani     NaN               0                    NaN
98          Yu     NaN               0                    NaN
99        Song     NaN               1                    NaN

                                         Demographics  \
0   <IndividualSurvey xmlns="http://schemas.micros...
1   <IndividualSurvey xmlns="http://schemas.micros...
2   <IndividualSurvey xmlns="http://schemas.micros...
3   <IndividualSurvey xmlns="http://schemas.micros...
4   <IndividualSurvey xmlns="http://schemas.micros...
..                                                ...
95  <IndividualSurvey xmlns="http://schemas.micros...
96  <IndividualSurvey xmlns="http://schemas.micros...
97  <IndividualSurvey xmlns="http://schemas.micros...
98  <IndividualSurvey xmlns="http://schemas.micros...
99  <IndividualSurvey xmlns="http://schemas.micros...

                                 rowguid         ModifiedDate
0   92C4279F-1207-48A3-8448-4636514EB7E2  2009-01-07 00:00:00
1   D8763459-8AA8-47CC-AFF7-C9079AF79033  2008-01-24 00:00:00
2   E1A2555E-0828-434B-A33B-6F38136A37DE  2007-11-04 00:00:00
3   F2D7CE06-38B3-4357-805B-F4B6B71C01FF  2007-11-28 00:00:00
4   F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF  2007-12-30 00:00:00
..                                   ...                  ...
95  CB9A2A0C-68E5-475B-9D6D-EBD548FE5B9C  2009-02-23 00:00:00
96  907AE318-9FF7-4B56-B52B-5FDCA7BF8A62  2009-02-03 00:00:00
97  F19BE575-4A2E-413D-9BE9-0AF4B75C6FCD  2009-02-04 00:00:00
98  938FCD64-E06D-453C-9E70-BFE41753557B  2008-12-30 00:00:00
99  DCD41870-A67B-4D7F-B874-92C6854E1D0D  2009-01-05 00:00:00

[100 rows x 13 columns]
   AddressTypeID         Name                               rowguid  \
0              1      Billing  B84F78B1-4EFE-4A0E-8CB7-70E9F112F886
1              2         Home  41BC2FF6-F0FC-475F-8EB9-CEC0805AA0F2
2              3  Main Office  8EEEC28C-07A2-4FB9-AD0A-42D4A0BBC575
3              4      Primary  24CB3088-4345-47C4-86C5-17B535133D1E
4              5     Shipping  B29DA3F8-19A3-47DA-9DAA-15C84F4A83A5
5              6      Archive  A67F238A-5BA2-444B-966C-0467ED9C427F

          ModifiedDate
0  2008-04-30 00:00:00
1  2008-04-30 00:00:00
2  2008-04-30 00:00:00
3  2008-04-30 00:00:00
4  2008-04-30 00:00:00
5  2008-04-30 00:00:00
    BusinessEntityID                               rowguid  \
0                  1  0C7D8F81-D7B1-4CF0-9C0A-4CD8B6B50087
1                  2  6648747F-7843-4002-B317-65389684C398
2                  3  568204DA-93D7-42F4-8A7A-4446A144277D
3                  4  0EFF57B9-4F4F-41A6-8867-658C199A5FC0
4                  5  B82F88D1-FF79-4FD9-8C54-9D24C140F647
..               ...                                   ...
95                96  7FA5877D-34CE-4177-9225-1EDB7B9EB1B3
96                97  E554AFA0-CAA9-4911-A8A8-718AE64E47C9
97                98  724B11BA-4763-4962-9753-C83C3CDB1B54
98                99  94CF606F-FDA5-4A3F-BC22-D84D8404ABEE
99               100  B0828B9D-2F74-467E-8439-E512F1EA9D7B

           ModifiedDate
0   2017-12-13 13:20:24
1   2017-12-13 13:20:24
2   2017-12-13 13:20:24
3   2017-12-13 13:20:24
4   2017-12-13 13:20:24
..                  ...
95  2017-12-13 13:20:29
96  2017-12-13 13:20:29
97  2017-12-13 13:20:29
98  2017-12-13 13:20:29
99  2017-12-13 13:20:29

[100 rows x 3 columns]

In [ ]:
person = pd.read_csv("Person.Person.csv")
person_phone = pd.read_csv("Person.PersonPhone.csv")
phone_number_type = pd.read_csv("Person.PhoneNumberType.csv")
email_address = pd.read_csv("Person.EmailAddress.csv")
password = pd.read_csv("Person.Password.csv")
business_entity_contact = pd.read_csv("Person.BusinessEntityContact.csv")

In [ ]:
email_address.columns

Index(['BusinessEntityID', 'EmailAddressID', 'EmailAddress', 'rowguid',
       'ModifiedDate'],
      dtype='object')

In [ ]:
dataframes = [person, person_phone, phone_number_type, email_address, password, business_entity_contact]
columnas_a_eliminar = ['ModifiedDate', 'rowguid']


for df in dataframes:
    df.drop(columns=columnas_a_eliminar, errors='ignore', inplace=True)

In [ ]:
print(person)
print(person_phone)
print(business_entity_contact)

    BusinessEntityID PersonType  NameStyle Title  FirstName MiddleName  \
0                  1         EM          0   NaN        Ken          J
1                  2         EM          0   NaN      Terri        Lee
2                  3         EM          0   NaN    Roberto        NaN
3                  4         EM          0   NaN        Rob        NaN
4                  5         EM          0   Ms.       Gail          A
..               ...        ...        ...   ...        ...        ...
95                96         EM          0   NaN  Elizabeth          I
96                97         EM          0   NaN     Mandar          H
97                98         EM          0   NaN     Sameer          A
98                99         EM          0   NaN       Nuan        NaN
99               100         EM          0   NaN      Lolan          B

      LastName  Suffix  EmailPromotion  AdditionalContactInfo  \
0      S√°nchez     NaN               0                    NaN
1        Duffy     NaN               1                    NaN
2   Tamburello     NaN               0                    NaN
3      Walters     NaN               0                    NaN
4     Erickson     NaN               0                    NaN
..         ...     ...             ...                    ...
95      Keyser     NaN               0                    NaN
96      Samant     NaN               0                    NaN
97      Tejani     NaN               0                    NaN
98          Yu     NaN               0                    NaN
99        Song     NaN               1                    NaN

                                         Demographics
0   <IndividualSurvey xmlns="http://schemas.micros...
1   <IndividualSurvey xmlns="http://schemas.micros...
2   <IndividualSurvey xmlns="http://schemas.micros...
3   <IndividualSurvey xmlns="http://schemas.micros...
4   <IndividualSurvey xmlns="http://schemas.micros...
..                                                ...
95  <IndividualSurvey xmlns="http://schemas.micros...
96  <IndividualSurvey xmlns="http://schemas.micros...
97  <IndividualSurvey xmlns="http://schemas.micros...
98  <IndividualSurvey xmlns="http://schemas.micros...
99  <IndividualSurvey xmlns="http://schemas.micros...

[100 rows x 11 columns]
    BusinessEntityID   PhoneNumber  PhoneNumberTypeID
0                  1  697-555-0142                  1
1                  2  819-555-0175                  3
2                  3  212-555-0187                  1
3                  4  612-555-0100                  1
4                  5  849-555-0139                  1
..               ...           ...                ...
95                96  318-555-0137                  1
96                97  140-555-0132                  3
97                98  990-555-0172                  1
98                99  913-555-0184                  1
99               100  582-555-0178                  1

[100 rows x 3 columns]
    BusinessEntityID  PersonID  ContactTypeID
0                292       291             11
1                294       293             11
2                296       295             11
3                298       297             11
4                300       299             11
..               ...       ...            ...
95               482       481             14
96               484       483             15
97               486       485             15
98               488       487             15
99               490       489             11

[100 rows x 3 columns]

In [ ]:
merged_data = pd.merge(person_phone, phone_number_type, on='PhoneNumberTypeID', how='left')
merged_data = pd.merge(person, merged_data, on='BusinessEntityID', how='left')
merged_data = pd.merge(merged_data, email_address, on='BusinessEntityID', how='left')

In [ ]:
merged_data = pd.merge(merged_data, password, on='BusinessEntityID', how='left')
final_person = pd.merge(merged_data, business_entity_contact, on='BusinessEntityID', how='left')

In [ ]:
final_person

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,PhoneNumber,PhoneNumberTypeID,Name,EmailAddressID,EmailAddress,PasswordHash,PasswordSalt,PersonID,ContactTypeID
0,1,EM,0,NaN,Ken,J,S√°nchez,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",697-555-0142,1,Cell,1,ken0@adventure-works.com,pbFwXWE99vobT6g+vPWFy93NtUU/orrIWafF01hccfM=,bE3XiWw=,NaN,NaN
1,2,EM,0,NaN,Terri,Lee,Duffy,NaN,1,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",819-555-0175,3,Work,2,terri0@adventure-works.com,bawRVNrZQYQ05qF05Gz6VLilnviZmrqBReTTAGAudm0=,EjJaC3U=,NaN,NaN
2,3,EM,0,NaN,Roberto,NaN,Tamburello,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",212-555-0187,1,Cell,3,roberto0@adventure-works.com,8BUXrZfDqO1IyHCWOYzYmqN1IhTUn3CJMpdx/UCQ3iY=,wbPZqMw=,NaN,NaN
3,4,EM,0,NaN,Rob,NaN,Walters,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",612-555-0100,1,Cell,4,rob0@adventure-works.com,SjLXpiarHSlz+6AG+H+4QpB/IPRzras/+9q/5Wr7tf8=,PwSunQU=,NaN,NaN
4,5,EM,0,Ms.,Gail,A,Erickson,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",849-555-0139,1,Cell,5,gail0@adventure-works.com,8FYdAiY6gWuBsgjCFdg0UibtsqOcWHf9TyaHIP7+paA=,qYhZRiM=,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,EM,0,NaN,Elizabeth,I,Keyser,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",318-555-0137,1,Cell,96,elizabeth0@adventure-works.com,dQMZUekBH73hOqaYRbQZCc7ObVmZd1WtZtZ9bgIrp/M=,pCHkzo0=,NaN,NaN
96,97,EM,0,NaN,Mandar,H,Samant,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",140-555-0132,3,Work,97,mandar0@adventure-works.com,D+tvr4PUKMFvJNDT1HCP91i7f7eDjQsref8BKYQQSrc=,gkiqvog=,NaN,NaN
97,98,EM,0,NaN,Sameer,A,Tejani,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",990-555-0172,1,Cell,98,sameer0@adventure-works.com,jWDkJrRsj+dj11G5aaOko0I7WwKTkKnn/w3W0Q0GdMc=,63z7wMU=,NaN,NaN
98,99,EM,0,NaN,Nuan,NaN,Yu,NaN,0,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",913-555-0184,1,Cell,99,nuan0@adventure-works.com,iL0+3+AHga7LYIPNFgtGjM00TODip/2pw0Jhc58eADc=,HrL7JoE=,NaN,NaN
99,100,EM,0,NaN,Lolan,B,Song,NaN,1,NaN,"<IndividualSurvey xmlns=""http://schemas.micros...",582-555-0178,1,Cell,100,lolan0@adventure-works.com,sjRcCEbmF7NuIGeUn2CoRodBlM7zNXJ1r9LcQrdcAZA=,BIfsGWE=,NaN,NaN

Empezamos a juntar el segundo dataframe

In [ ]:
address_type = pd.read_csv("Person.AddressType.csv")
business_entity_adress = pd.read_csv("Person.BusinessEntityAddress.csv")
business_entity = pd.read_csv("Person.BusinessEntity.csv")

business_entity_contact = pd.read_csv("Person.BusinessEntityContact.csv")
contact_type = pd.read_csv("Person.ContactType.csv")

In [ ]:
dataframes = [address_type, business_entity_adress,business_entity, business_entity_contact, contact_type]
columnas_a_eliminar = ['ModifiedDate', 'rowguid']

for df in dataframes:
    df.drop(columns=columnas_a_eliminar, errors='ignore', inplace=True)

In [ ]:
merged_data = pd.merge(business_entity_adress, address_type, on='AddressTypeID', how='left')
merged_data = pd.merge(business_entity, merged_data, on='BusinessEntityID', how='left')
merged_data_1 = pd.merge(business_entity_contact, contact_type, on='ContactTypeID', how='left')
print(merged_data_1)
business_final = pd.merge(merged_data, merged_data_1, on='BusinessEntityID', how='left')
print(business_final)
business_final = pd.merge(business_final, final_person, on='BusinessEntityID', how='left')

    BusinessEntityID  PersonID  ContactTypeID                Name
0                292       291             11               Owner
1                294       293             11               Owner
2                296       295             11               Owner
3                298       297             11               Owner
4                300       299             11               Owner
..               ...       ...            ...                 ...
95               482       481             14    Purchasing Agent
96               484       483             15  Purchasing Manager
97               486       485             15  Purchasing Manager
98               488       487             15  Purchasing Manager
99               490       489             11               Owner

[100 rows x 4 columns]
    BusinessEntityID  AddressID  AddressTypeID Name_x  PersonID  \
0                  1        249              2   Home       NaN
1                  2        293              2   Home       NaN
2                  3        224              2   Home       NaN
3                  4      11387              2   Home       NaN
4                  5        190              2   Home       NaN
..               ...        ...            ...    ...       ...
95                96      32513              2   Home       NaN
96                97         76              2   Home       NaN
97                98         83              2   Home       NaN
98                99        160              2   Home       NaN
99               100        133              2   Home       NaN

    ContactTypeID Name_y
0             NaN    NaN
1             NaN    NaN
2             NaN    NaN
3             NaN    NaN
4             NaN    NaN
..            ...    ...
95            NaN    NaN
96            NaN    NaN
97            NaN    NaN
98            NaN    NaN
99            NaN    NaN

[100 rows x 7 columns]

In [ ]:
business_final

,BusinessEntityID,AddressID,AddressTypeID,Name_x,PersonID_x,ContactTypeID_x,Name_y,PersonType,NameStyle,Title,...,Demographics,PhoneNumber,PhoneNumberTypeID,Name,EmailAddressID,EmailAddress,PasswordHash,PasswordSalt,PersonID_y,ContactTypeID_y
0,1,249,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",697-555-0142,1,Cell,1,ken0@adventure-works.com,pbFwXWE99vobT6g+vPWFy93NtUU/orrIWafF01hccfM=,bE3XiWw=,NaN,NaN
1,2,293,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",819-555-0175,3,Work,2,terri0@adventure-works.com,bawRVNrZQYQ05qF05Gz6VLilnviZmrqBReTTAGAudm0=,EjJaC3U=,NaN,NaN
2,3,224,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",212-555-0187,1,Cell,3,roberto0@adventure-works.com,8BUXrZfDqO1IyHCWOYzYmqN1IhTUn3CJMpdx/UCQ3iY=,wbPZqMw=,NaN,NaN
3,4,11387,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",612-555-0100,1,Cell,4,rob0@adventure-works.com,SjLXpiarHSlz+6AG+H+4QpB/IPRzras/+9q/5Wr7tf8=,PwSunQU=,NaN,NaN
4,5,190,2,Home,NaN,NaN,NaN,EM,0,Ms.,...,"<IndividualSurvey xmlns=""http://schemas.micros...",849-555-0139,1,Cell,5,gail0@adventure-works.com,8FYdAiY6gWuBsgjCFdg0UibtsqOcWHf9TyaHIP7+paA=,qYhZRiM=,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,32513,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",318-555-0137,1,Cell,96,elizabeth0@adventure-works.com,dQMZUekBH73hOqaYRbQZCc7ObVmZd1WtZtZ9bgIrp/M=,pCHkzo0=,NaN,NaN
96,97,76,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",140-555-0132,3,Work,97,mandar0@adventure-works.com,D+tvr4PUKMFvJNDT1HCP91i7f7eDjQsref8BKYQQSrc=,gkiqvog=,NaN,NaN
97,98,83,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",990-555-0172,1,Cell,98,sameer0@adventure-works.com,jWDkJrRsj+dj11G5aaOko0I7WwKTkKnn/w3W0Q0GdMc=,63z7wMU=,NaN,NaN
98,99,160,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",913-555-0184,1,Cell,99,nuan0@adventure-works.com,iL0+3+AHga7LYIPNFgtGjM00TODip/2pw0Jhc58eADc=,HrL7JoE=,NaN,NaN
99,100,133,2,Home,NaN,NaN,NaN,EM,0,NaN,...,"<IndividualSurvey xmlns=""http://schemas.micros...",582-555-0178,1,Cell,100,lolan0@adventure-works.com,sjRcCEbmF7NuIGeUn2CoRodBlM7zNXJ1r9LcQrdcAZA=,BIfsGWE=,NaN,NaN